* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/*
html {
    background-color: #111827;
    color: #F3F4F6;
    line-height: 1.5;
    font-family: "Inter", sans-serif;
}
*/
h1 {
    font-size: 1.6rem;
    font-weight: 400;
}
h2 {
    font-size: 1.3rem;
    font-weight: 600;
}
h3 {
    font-size: 1.1rem;
    font-weight: 500;
}

main {
   padding: 0 0.8rem 5rem;
   max-width: 1360px;
   margin: 0 auto;
   display: flex;
   flex-direction: column;
   gap: 2rem;
}

.statLabel {
    font-weight: 400;
}

ul {
    list-style: none;
}

a {
    color: var(--text);
    text-decoration: none;
    font-size: 1rem;
    margin: 0 1rem;
}

button {
    cursor: pointer;
    font-size: 0.8rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* TEMPORARY FOR LAYOUT PURPOSES */
header {
    height: 80px;
    background-color: #0F172A;
    border-bottom: 1px solid #1F2937;
    margin-bottom: 20px;
}

/* ------TEAM OVERVIEW ------------------------------------*/
/*teamslot - frågetecken img*/
.teamSlot--empty img {
    width: 100%;
    height: auto;
    object-fit: cover;
    padding: 7px;
    display: block;
    opacity: 70%;
}

.teamSlot--filled {
 cursor: pointer;
}

.teamOverview {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 auto;
    max-width: 430px;
    gap: 0.6rem;
    
}
.teamOverview li {
    background-color: var(--surface);
    border-radius: 16px;
    min-width: 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;

}

.imgWrapper {
    position: relative;
    overflow: hidden;
    width: 100%;
   flex-shrink: 0;
   background-color: var(--surface);
   margin-bottom: 1rem;
}

/*---SUGGESTIONS----------------------*/
.suggested {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 auto;
    max-width: 430px;
}

.suggested li {
    background-color: var(--surface);
    border-radius: 16px;
    margin: 0.3rem;
}

/*---WAITLIST------------------------*/

.waitlist {
    display: flex;
    flex-direction: row;
    overflow-y: scroll;
    width: 100%;
}

.waitlist li {
    background-color: var(--surface);
    border-radius: 16px;
    margin: 0.3rem;
}

/* CTA Buttons*/
.btnGroup {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 8px;
    padding: 0;
    background-color: #080a0f3d;
    transform: translateY(100%);
    transition: transform 0.3s ease;
}

.btnGroup img {
    height: 44px;
    padding: 5px;
}

.teamSlot--filled.active .btnGroup {
    transform: translateY(0);
}

.sugSlot--filled.active .btnGroup {
    transform: translateY(0);
}

.waitSlot--filled.active .btnGroup {
    transform: translateY(0);
}
.btnGroup button {
    background-color: transparent;
    border: none;
}

/*---STATBARS----------------------*/

/* TAGET FRÅN BRIGITTAS KOD */
.stats {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/* Stats bar */
.pokeBar {
    width: 1%;
    height: 30px;
    border-radius: 30px;
    transition: width .6s ease;

    background: linear-gradient(90deg, rgba(122, 232, 201, 1) 0%, rgba(8, 145, 179, 1) 50%, rgba(248, 160, 159, 1) 100%);
}

#pokeHP>div:first-child,
#pokeAttack>div:first-child,
#pokeDefense>div:first-child,
#pokeSpecialAttack>div:first-child,
#pokeSpecialDefense>div:first-child,
#pokeSpeed>div:first-child {
    display: flex;
    align-items: center;
    gap: 1rem;
}

/*Sträcken vid progressbarren*/
#pokeHP>div:nth-child(2),
#pokeAttack>div:nth-child(2),
#pokeDefense>div:nth-child(2),
#pokeSpecialAttack>div:nth-child(2),
#pokeSpecialDefense>div:nth-child(2),
#pokeSpeed>div:nth-child(2) {
    height: 1px;
    flex: 1;
    background-color: var(--border);
}

/* TEAM TYPES*/

.pokemonTypes li {
    padding: 2px 10px;
    border-radius: 16px;
    font-size: 0.8rem;
    text-transform: capitalize;
}
.typesInfoContainer {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    border-bottom: 1px solid var(--border);
    padding-bottom: 0;
    margin-bottom: 2rem;
}

#teamInfoTypes ul {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    flex-wrap: wrap;
    height: 200px;
   
}

.typeBar {
    width: 20px;
    height: 200px;
    background-color: var(--surface2);
    border-radius: 16px 16px 0 0;
    overflow: hidden;
    position: relative;
    margin: 2rem;
}

#typeBarFill {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background: var(--accent);
    transition: height 0.6s ease;
}
/* ALT. VIEWS */
.hidden {
    display: none;
}
