.alignItems {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.pokeProgressBar {
    width: 100%;
    border-radius: 30px;

    background-color: rgb(223, 223, 223);
}

/* Stats bar */
.pokeBar {
    width: 1%;
    height: 30px;
    border-radius: 30px;

    background: linear-gradient(90deg, rgba(122, 232, 201, 1) 0%, rgba(8, 145, 179, 1) 50%, rgba(248, 160, 159, 1) 100%);
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.pokeCard {
    display: flex;
    flex-direction: column;
}

.pokeCard img {
    width: 96px;
    height: 96px;
}